*{
    padding:0;
    margin:0;
}
.you{
    display:flex;
    flex-direction:column;
    position:absolute;
    border:solid black;
    width: 500px;
    left: 40%;
    top:40%;
    background-color:fuchsia;

}
.teta{
    margin:10px;
}
.her{
    margin-left:120px;
    padding-top:20px;

}
.they{
    margin-left:120px;
    margin-right:160px;
    background-color:blue;
}
.me{
    width:130px;
    margin-left:200px;
    padding-top:20px;
}
.new{
    width:20px;

}
.b{
    margin-left:120px;
}
    


    
    

    
